<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        
    </head>
    <body>
        <div class="container my-3">
            <h3>게시글</h3>
                    제목<br>{{detail.title}}<br>
                    글쓴이<br><input type="text" name="created_by" value="{{detail.created_by}}" readonly><br>
                    내용<br><textarea rows="10" cols="50" name="content" readonly>{{detail.content}}</textarea><br><br>
                    {% if filename %}

                    첨부파일 <a href="{{detail.id}}/download" id = "attached_link" style="color: grey;" > {{filename}} </a>
                    <br><br>
                    {% endif %}
                    {% if user.username == detail.created_by%}
                    <table>
                        <td>
                            <button type="button" onclick="location.href='{{detail.id}}/edit'" style="color: white;" class="btn btn-dark">수정</button> <br/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-dark" onclick="location.href='{{detail.id}}/remove'" style="color: white;">삭제</button>
                        </td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-dark" onclick="location.href='/board/'" style="color: white;">목록</button>
                        </td>
                    </table><br><br>
                    <!--댓글 입력-->
                    <form method="POST" action="{{detail.id}}/new_comment/" >
                        {% csrf_token %}
                        {{comment_form}}
                        <input type="submit" value="입력">
                    </form><br>
                    <!--댓글 목록-->
                    {% for comment in detail.comment_set.all %}
                    {{comment.comment}}
                    {{comment.date}}
                    <!-- {% if user.username == detail.created_by %}
                    <button><a href="{{detail.id}}/delete_comment/{{comment.id}}" style="color: black;">삭제</a></button>
                    {% endif %}
                    &nbsp;&nbsp; -->
                    <!--대댓글-->
                    <form method="POST" action="{{detail.id}}/new_subcomment/">
                        {% csrf_token %}     
                        <!--대댓글 목록-->
                        {% for subcomment in comment.subcomment_set.all %}
                        &nbsp ↪{{subcomment.subcomment}} {{subcomment.date}}<br>
                        {% endfor %}
                        <!--대댓글 입력-->     
                        &nbsp ↪{{subcomment_form.subcomment}}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}"/>
                        <input type="submit" value="입력"><br>
                    </form>
                    {% endfor %}
                    <br>
                
                
            </div>     
    </body>
</html>