<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>
    <body>
        <h3>게시글 수정</h3>
            <form method="POST">
                {% csrf_token %}
                제목<br>{{detail.title}}<br>
                글쓴이<br>{{detail.created_by}}<br>
                내용<br>{{detail.content}}<br><br> 
                <button><a href="/board/">취소</a></button>
                <input type="submit" value="확인">
            </form>
    </body>
</html>