<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}"> 
    </head>
    <body>
        <div class="container my-3">
            <h3>게시글 수정</h3>
                <form method="POST">
                    {% csrf_token %}
                    제목<br>{{detail.title}}<br>
                    내용<br>{{detail.content}}<br><br> 
                    <button type="button" class="btn btn-dark" onclick="location.href='/board/'" style="color: white;">취소</button>
                    <input type="submit" class="btn btn-dark" value="확인">
                </form>
        </div>
    </body>
</html>