<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>
    <body>
        <h3>{{message}}</h3>
            <form method="POST">
                {% csrf_token %}
                {% for field in login_form %}
                <div class="form-group">
                    <label for="id_{{ field.html_name}}">{{ field.label }}</label>
                    {{ field }}
                </div>
            	{% endfor %}
                <button><a href="/board/">취소</a></button>
                <input type="submit" value="로그인">
            </form>
    </body>
</html>
