<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

    </head>
    <body>
        <h3>회원가입</h3>
        <form method="POST">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-group">
                    <label for="id_{{ field.html_name}}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }} 
                </div>
            {% endfor %}
            <button><a href="/board/">취소</a></button> &nbsp &nbsp &nbsp
            <input type="submit" value="회원가입">
        </form>
    </body>
