<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/bootstrap.min.css' %}">  
    </head>
    <body>
        <div class="container my-3">
            <h3>새 글 쓰기</h3>
            <form method="POST" name="write">
                {% csrf_token %}
                제목<br>{{write_form.title}}<br>
                내용<br>{{write_form.content}}<br><br>         
                <button type="button" class="btn btn-dark"><a href="/board/" style="color: white;">취소</a></button>
                <input type="submit"  class="btn btn-dark" value="확인">
            </form>
        </div>
    </body>
</html>