<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    </head>
    <body>
        <h3>새 글 쓰기</h3>
        <form method="POST" name="write">
            {% csrf_token %}
            제목<br>{{write_form.title}}<br>
            글쓴이<br>{{write_form.created_by}}<br>
            내용<br>{{write_form.content}}<br>         
            <button><a href="/board/">취소</a></button> &nbsp &nbsp &nbsp
            <input type="submit" value="확인">
        </form>
    </body>
</html>